*{margin:0;padding:0;}
.w1000{ width:1000px; margin:0 auto;}
.clear{ clear:both;}
a{ text-decoration:none;color:#fff; font-size:12px;}
body{font-size:12px; font-family: "瀹嬩綋"; background:#151d39 url(../images/bg.jpg) top center no-repeat}

.logo{ display:block; background:url(../images/logo.png) no-repeat; width:257px; height:110px; margin:0 auto; position:relative; z-index:999}

.indexmain{ width:1000px; height:370px; margin:0 auto; position:relative;}
.login{ background:url(../images/loginbg.png) no-repeat; width:314px; height:333px; padding-top:37px; z-index:9px; top:0; left:343px; position:absolute}
.login input{ width:195px; height:38px; border:none; margin-left:53px; margin-bottom:20px; background:#fff; padding-left:15px; color:#313131; font-family:"寰蒋闆呴粦"; font-size:12px; border-radius:3px;}
.login .yzmimg{ position:absolute; margin-left:-60px;}
.login .subbtn{ background:#f39800; padding:0; width:210px; cursor:pointer; font-size:16px; font-family:"寰蒋闆呴粦"; color:#fff; font-weight:bold;}
.indexmain .tzjclink{ background:url(../images/tzjc.png) top center no-repeat; width:343px; height:138px; position:absolute; left:0; top:37px;}
.indexmain .tzjclink:hover{ background-position:bottom center}
.indexmain .xljclink{ background:url(../images/xljc.png) top center no-repeat; width:343px; height:138px; position:absolute; right:0; top:37px;}
.indexmain .xljclink:hover{ background-position:bottom center}

.indexmain .ewm{ background:url(../images/ewm.png) no-repeat; width:294px; height:138px; position:absolute; left:49px; top:195px;}
.indexmain .zxkf{ background:url(../images/zxkf.png) no-repeat; width:294px; height:138px; position:absolute; right:49px; top:195px;}

.indexfooter{ height:156px; background:#0e1325; position:fixed; width:100%; bottom:0; left:0}
ul.list{ width:926px; margin:0 auto; margin-top:20px;}
ul.list li{ margin:0 13px; float:left; width:156px; height:59px; border:1px solid #5f5f5f; line-height:20px; background:url(../images/ico.png) top center no-repeat;transition:all 0.3s}
ul.list li a{ display:block; width:86px; padding-left:70px; padding-top:10px; font-family:"寰蒋闆呴粦"; font-size:16px; color:#eee;transition:all 0.3s}
ul.list li a span{ font-family:Arial; font-size:10px;}
ul.list li:hover{ background-position:bottom center;}
ul.list li:hover a{ color:#fff100;}

.indexfooter .copyright{ color:#a0a0a0; line-height:24px; margin-top:20px;}
.indexfooter .footerkf{ background:#f49800 url(../images/footerkf.png) no-repeat; width:187px; height:40px; border-radius:3px; display:block;float:left; margin-left:10px; margin-top:2px;}

.menu{ height:110px; position:absolute; top:30px; left:0; width:100%;}
.menu ul{ position:relative}
.menu ul li{ line-height:17px; position:absolute; width:120px;}
.menu ul li a{ color:#fff; font-size:14px; font-family:"寰蒋闆呴粦"; transition:all 0.3s}
.menu ul li a b{ font-weight:normal; font-size:11px; color:#b5b5b5; font-family:Arial;transition:all 0.3s}
.menu ul li span{ display:block; background:url(../images/menuico.png) no-repeat; width:37px; height:36px; margin-right:8px; float:left;transition:all 0.3s}
.menu ul li span.ico01{ background-position:0 0}
.menu ul li span.ico02{ background-position:-37px 0}
.menu ul li span.ico03{ background-position:-74px 0}
.menu ul li span.ico04{ background-position:-111px 0}
.menu ul li:hover a{ color:#fff100;}
.menu ul li:hover a b{ color:#fff100;}
.menu ul li:hover span.ico01{ background-position:0 -36px}
.menu ul li:hover span.ico02{ background-position:-37px -36px}
.menu ul li:hover span.ico03{ background-position:-74px -36px}
.menu ul li:hover span.ico04{ background-position:-111px -36px}


.tzjc{ background:url(../images/tzjcbg.png) no-repeat; width:1000px; height:482px; margin:0 auto; padding-top:57px;}

.tzjc .listimg{}
.tzjc .listimg ul li{ float:left; margin-left:20px; position:relative; width:176px; height:148px;}
.tzjc .listimg ul li img{ border:1px solid #2b3b70; display:block;}
.tzjc .listimg ul li span{ display:block; height:37px; background:url(../images/heibg.png) repeat-x; position:absolute; bottom:0; left:0; width:176px; line-height:37px; text-align:center; font-size:16px; font-family:"寰蒋闆呴粦"; color:#fff;}
.tzjc .listimg ul li:hover span{ color:#fff100}

.tzjc .listwz{ margin-top:20px;}
.tzjc .listwz ul li{ width:223px; height:51px; border:1px solid #2b3b70; background:#162046; float:left; margin-left:20px; text-align:center; line-height:51px; transition:all 0.3s; margin-bottom:20px}
.tzjc .listwz ul li a{font-family:"寰蒋闆呴粦"; font-size:16px; color:#fff}
.tzjc .listwz ul li:hover{ background:#405394; border:1px solid #405394}

.tzjc .copyright{ text-align:center; color:#a9aaad; font-family:"寰蒋闆呴粦"; height:40px; line-height:40px;}


.xlmain{height:765px;overflow:hidden; width:1000px; margin:0 auto; padding-top:10px;}
.mainleft{ width:740px; float:left;background: url(../images/mainbg.png) repeat; overflow: hidden; height: 750px;}
.ptwz{ font-size:13px;color:#fff100;height: 33px; background: #162046; width: 660px; line-height: 33px; border: 1px solid #2b3b70; margin-top: 20px; margin-left:28px; padding-left: 20px;}
.ptwz span{ font-size:13px; color:#fff100; font-weight:normal; font-family:"瀹嬩綋"; margin-left:15px;}
form{ line-height:54px;}
.koilist{ height:54px}
.kiutv1{ border:#2b3b70 1px solid; width:97px; height:26px; text-align:center; line-height:26px; background:#162046; color:#eeeeee;font-size:12px; float:left}
.kiutv2{ border:#2b3b70 1px solid; width:321px; height:26px; padding-left:20px; line-height:26px; background:#162046; color:#eeeeee;font-size:12px;float:left}
.raoin{ float:left; margin:0; height:26px;}
.openwsa{ background: url(../images/openwsa.png) no-repeat; text-align: center; color:#fff; font-size:12px; width:89px; height:28px; border:none; cursor:pointer; line-height:28px;float:left; margin-left:5px}
.openwsa:hover{background: url(../images/openwsaon.png) no-repeat;}
.sub{ background:url(../images/cxjc.png) no-repeat; width:261px; height:36px; border:none;margin-top:5px; cursor:pointer; margin-left:180px;}
.sub:hover{ background:url(../images/cxjcon.png) no-repeat}

.jcright{ float:right;width:210px; height:517px; padding-top:20px; height:730px; background:url(../images/mainbg.png) repeat; padding-left:18px; padding-right:24px;}
.jcright h2{ font-family:"寰蒋闆呴粦"; font-size:18px; font-weight:normal; color:#fff100; height:30px; line-height:30px;}
.jcright p{ color:#d2d2d2; font-size:13px; font-family:"瀹嬩綋"; line-height:20px;}
.jcright img{ margin-top:5px;}
.jcright .link{ margin-top:10px;}
.jcright .link a{ float:left; display:block; margin-right:25px; line-height:25px;}

.xlcopyright{ height:90px; line-height:90px; color:#a9aaad; text-align:center; font-family:"寰蒋闆呴粦";}
